<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
      {% if is_post %}
        <title>Amethyst | {{ title }}</title>
      {% else %}
       	<title>Amethyst | Data-driven game engine</title>
      {% endif %}
        <meta property="og:title" content="Amethyst">
        <meta property="og:site_name" content="Amethyst">
        <meta property="og:image" content="https://www.amethyst.rs/assets/amethyst.png">
        <meta property="og:description" content="Fast data-driven game engine">
        <meta property="og:url" content="https://www.amethyst.rs/">
        <meta property="og:type" content="website">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">

        <link rel="stylesheet" href="/css/gitter.css">
        <link rel="stylesheet" href="/css/grid.css">
        <link rel="stylesheet" href="/css/theme.css">

        <link rel="icon" href="/assets/favicon.png">
    </head>
    <body>
        <header>
            <nav>
                <a href="/index.html"><img src="/assets/wire-white.png"/>Amethyst</a>
                <a href="/features.html">Features</a>
                <a href="/learn.html">Learn</a>
                <a href="/news.html">News</a>
                <a href="/community.html">Community</a>
                <a href="https://github.com/amethyst" style="float: right;"><img src="/assets/gh-light-120px-plus.png"/></a>
            </nav>
        </header>
      {% if is_post %}
        {% include '_layouts/post.liquid' %}
      {% else %}
        {{ content }}
      {% endif %}
        <footer>
            <p>© 2015 The Amethyst Developers</p>
            <p>Proudly hosted on <a href="https://pages.github.com">GitHub Pages</a></p>
        </footer>
        <script>
            ((window.gitter = {}).chat = {}).options = {
                room: 'amethyst/general',
                useStyles: false,
            };
        </script>
        <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    </body>
</html>
