extends: default.liquid
---
<section id="hero" class="community">
    <h1>Meet the Community</h1>
    <p>Come join us, we're social!</p>
    <p>
        <a href="https://github.com/amethyst">GitHub</a>
        <a href="https://gitter.im/amethyst/rooms">Gitter</a>
        <a href="https://www.reddit.com/r/rust/">/r/rust Subreddit</a>
    </p>
</section>
<section id="features">
    <ul>
        <li class="features-1">
            <h2>GitHub</h2>
            Join us on blah blah.
        </li>
        <li class="features-2">
            <h2>Gitter</h2>
            Join us on blah blah.
        </li>
    </ul>
</section>
