extends: default.liquid
---
<section id="hero" class="home">
    <h1>Code With Confidence</h1>
    <p>Amethyst is a free and open source game engine written entirely in Rust.</p>
    <p>Sound interesting? Read on!</p>
</section>
<section id="primary-content">
    <h4>Industry Grade Tech</h4>
    <p>Provides the latest and greatest features expected from AAA game engines.</p>
</section>
<section id="secondary-content">
    <h4>For Coders and Designers</h4>
    <p>Game objects are defined as simple text files.</p>
</section>
